# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dSYM

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compile commands
compile_commands.json

# Build folder
build/*
.directory
docs/*
libs/docs/*
.vscode

*.sh

# Visual Studio 
.vs/*
out/*